.super-mario {
    width: 200px;
    top : 150px;
    position : absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 150px;
    top: 500px;
    z-index: 1;
    position: absolute;
  }
  
  .baloon {
      width: 200px;
      left: 400px;
      top: 150px;
      position: absolute;
  
  }
  
  .speach {
    position: relative;
    width: 10px;
    font-size: 20px;
    left: 440px;
    top: 90px;
  }
  
  .bowser {
    width: 200px;
    top: 200px;
    left: 600px;
    position: absolute;
  }