h1 {
  text-align: center;
  background-color: aquamarine;
}

nav a {
  display: block;
}

.navigation-block {
  margin-right: 92%;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 2px;
  position: relative;
  z-index: 2;
}

.rectangle {
  top: 21px;
  height: 800px;
  width: 100px;
  background-color: rgb(201, 131, 67);
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}

h2 {
  text-align: left;
  margin-left: 100px;
}

h3 {
  margin-left: 100px;
}

section {
  margin-left: 100px;
}
