h1 {
  text-align: center;
  background-color: aquamarine;
}

nav a {
  display: block;
}

.navigation-block {
  background-color: rgb(160, 216, 197);
  margin-right: 90%;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 2px;
}
